$ColorPrimario: #FA9525;
$ColorSecundario: #FFC500;
$ColorEnfasis: #FF4F17;
$ColorOscuro: #E3610B;
$ColorButton: #FD4819;
$fuente: Roboto;


a:link, a:visited,  a:hover, a:active
{
    color: white;
    text-decoration: none;
}
