$ColorPrimario: #FA9525;
$ColorSecundario: #f8b859;
$ColorEnfasis: #FF4F17;
$ColorOscuro: #E3610B;
$ColorButton: #FD4819;
$fuente: Roboto;

$recuadros:(
    bordes:0,
    color: white,
    radio: 10px
    );

a:link, a:visited,  a:hover, a:active
{
    color: white;
    text-decoration: none;
}
