@import "_variables";
@import "_carrusel";
@import "_footer";
@import "_post";
@import "_casos";


nav  {
    background-color: $ColorPrimario;
    ul{
        list-style: none;
        li{
            padding:10px 15px;
            border-radius: 15px;
                &:hover{
                background-color: $ColorOscuro;
                }
            a{  text-decoration: none;
                color: white;
                font-family: $fuente;
                font-size: 16px;
            }
    }
    }
}